!!! XML
!!! Strict
%html{ 'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', 'lang' => 'en' }
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8' }/

    %title= [@page_title, t('app_name')].compact.join(' &ndash; ')

    = stylesheet_link_tag 'screen', :media => 'screen, projection'

    = javascript_include_tag 'jquery', 'app'
    = javascript_include_tag 'jquery_ajax_extensions'
    = yield :extra_js

  %body
    #header
      %h1<
        %a{ :href => '/', :title => t('page.home') }>= t('app_name')
      - unless @page_header.blank?
        %h2= @page_header
      / - if logged_in?
      /   = render :partial => 'layouts/user_navigation'

    #main
      #content
        = render :partial => 'layouts/flashes'
        = yield
      #sidebar
        / = render :partial => 'layouts/sidebar'
